*{
    margin: 0;
}
.foto{
    position: absolute;
    width: 1175px;
    height: 900px;
    left: 376px;
    top: 0px;
}

.background{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 720px;
    height: 900px;
    background: #121214;
}

.logo{
    position: relative;
    width: 389px;
    height: 94px;
    left: 30px;
    top: 50px;
    z-index: 3;
} 
/*figure{position: absolute;
    width: 389px;
    height: 94px;
    left: 30px;
    top: 50px;
    z-index: 3;

}*/
.logo{
    position: absolute;
    width: 389px;
    height: 94px;
    left: 30px;
    top: 50px;
    z-index: 3;

}
.texto{
    position: absolute;
    width: 647px; ;
    height: 102px;
    left:36px ;
    top: 236px;
    z-index: 3;
}
h2{
    /*position: absolute;*/
    width: 566px;
    height: 30.44px;
    /*left: 36px;
    top: 236px;*/
}
h3{
    width: 517px;
    height: 16px;

}
p{
    width: 647px;
    height: 38px;
    
}

form{
    position: absolute;
    width: 898px;
    height: 84px;
    left: 36px;
    top: 388px;
    z-index: 3;
}

.linke{
    
    position:absolute;
    width: 196px;
    height: 24px;
    left: 36px;
    top:522px;
    z-index: 3;
}