*{
    margin: 0;
}
.foto{
    position: absolute;
    width: 1175px;
    height: 900px;
    left: 376px;
    top: 0px;
}

.background{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 720px;
    height: 900px;
    background: #121214;
}

.logo{
    position: relative;
    width: 389px;
    height: 94px;
    left: 30px;
    top: 50px;
    z-index: 3;
} 
/*figure{position: absolute;
    width: 389px;
    height: 94px;
    left: 30px;
    top: 50px;
    z-index: 3;

}*/
.logo{
    position: absolute;
    width: 389px;
    height: 94px;
    left: 30px;
    top: 50px;
    z-index: 3;

}
.texto{
    position: absolute;
    width: 647px; ;
    height: 102px;
    left:36px ;
    top: 236px;
    z-index: 3;
}
h2{
    /*position: absolute;*/
    width: 566px;
    height: 30.44px;
    /*left: 36px;
    top: 236px;*/
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #08C05E;
}
h3{
    width: 517px;
    height: 16px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

}
p{
    width: 647px;
    height: 38px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    
}

form{
    position: absolute;
    width: 898px;
    height: 84px;
    left: 36px;
    top: 388px;
    z-index: 3;
}
label{
    
    width: 133px;
    height: 19px;
    left: 36px;
    top: 388px;
    
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 14px;
    line-height: 19px;
    color: #A8A8A8;
    
}
.retanguloinput{
    width: 5px;
    height: 48px;
    left: 36px;
    top: 424px;
    
    background: #04D361;

}

input{
    width: 798px;
    height: 48px;
    left: 36px;
    top: 424px;

    filter: drop-shadow(4px, 10px, 15px rgba(0, 0, 0, 0.5));
}

.retangulo{
    display: inline;
    /*position:absolute;*/
    width: 48px;
    height: 48px;
    left: 786px;
    top: 424px;
    z-index: 4;

    background-color: #8257E5;
}
.botao{
    width: 24px;
    height: 24px;
    left: 789px;
    top: 436px;
    z-index: 4;
}

.linke{
    
    position:absolute;
    width: 196px;
    height: 24px;
    left: 36px;
    top:522px;
    z-index: 3;

    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 14px;
    line-height: 19px;
    color: #8257E5;
}